{% extends "base.html" %}


{% block content %}
<div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center w-100">
    <div class="card shadow-lg rounded-4 border-0 overflow-hidden" style="max-width: 400px;">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} rounded-0 text-center mb-0" role="alert">
                    <strong>{{ message }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        
        <div class="card-body text-center py-4">
            <h5 class="fw-bold text-primary mb-3">Detalhes do Aluno</h5>
            <div class="d-flex align-items-center justify-content-center mb-3">
                <i class="bi bi-person-circle text-success" style="font-size: 3rem;"></i>
            </div>
            <h6 class="fw-semibold text-dark mb-1">{{ student.name }}</h6>
            <p class="text-muted small mb-1">{{ student.reference }}</p>
            <small class="text-success d-block">{{ student.phone }}</small>
        </div>
        <div class="card-footer bg-light text-center py-3">
        <a href="{% url 'add_payment' student.pk %}" class="text-decoration-none text-success fw-semibold">
            <i class="bi bi-credit-card"></i> Adicionar Pagamento
        </a>
        </div>
        <div class="card-footer bg-light text-center py-3">
            <a href="{% url 'training_sheet_list' student.pk %}" class="text-decoration-none text-primary fw-semibold">
                <i class="bi bi-table"></i> Planilha de Treino
            </a>
        </div>
        <div class="card-footer bg-light text-center py-3">
            <a href="{% url 'update_student' student.pk %}" class="text-decoration-none text-warning fw-semibold">
                <i class="bi bi-pencil-square"></i> Editar Registro do Aluno
            </a>
        </div>
        {% if not payments %}
        <div class="card-footer bg-light text-center py-3">
            <a href="{% url 'delete_student' student.pk %}" class="text-decoration-none text-danger fw-semibold">
                <i class="bi bi-trash3 me-1"></i> Remover Aluno
            </a>
        </div>
        {% endif %}
    </div>
</div>


<div class="text-center mb-3">
    <h4 class="fw-bold text-primary">Pagamentos</h4>
</div>
<div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center w-100">
    <div class="w-100">
        {% for payment in payments %}
            <div class="list-group shadow-lg rounded-4 p-4 mb-4 border border-light bg-white position-relative" style="transition: all 0.3s ease-in-out;">
                {% if payment.active %}
                    <span class="position-absolute top-0 end-0 m-2 badge bg-success text-white px-2 py-2 rounded-pill shadow-sm" 
                          style="font-size: 0.85rem; opacity: 0.9;">
                        <i class="bi bi-check-circle-fill me-1"></i> Ativo
                    </span><br>
                {% else %}
                    <span class="position-absolute top-0 end-0 m-2 badge bg-warning text-white px-2 py-2 rounded-pill shadow-sm" 
                    style="font-size: 0.85rem; opacity: 0.9;">
                        <i class="bi bi-check-circle-fill me-1"></i> Vencido
                    </span><br>
                {% endif %}
                <h5 class="fw-bold text-dark mb-3 d-flex align-items-center">
                    <i class="bi bi-calendar-date text-primary me-2"></i> {{ payment.created_at }}
                </h5>
                <p class="text-secondary fs-6 mb-2">
                    <i class="bi bi-calendar-check me-1"></i> Data de pagamento: 
                    <strong class="text-dark">{{ payment.payment_date }}</strong>
                </p>
                <p class="text-primary fs-6 mb-2">
                    <i class="bi bi-calendar-check me-1"></i> Próximo pagamento: 
                    <strong>{{ payment.next_payment_date }}</strong>
                </p>
                <p class="text-success fs-6 mb-2">
                    <i class="bi bi-box-seam me-1"></i> Pacote: <strong>{{ payment.payment_package }}</strong>
                </p>
                <p class="text-success fs-6 mb-2">
                    <i class="bi bi-cash-stack me-1"></i> Pagamentos:
                </p>
                <div class="d-flex flex-wrap gap-2">
                    {% for method in payment.values.all %}
                        <span class="btn btn-success rounded-pill px-3 py-2 shadow-sm">
                            <i class="bi bi-credit-card me-1"></i> {{ method.method }}: {{ method.value }}
                        </span>
                    {% endfor %}
                </div>
                {% if payment.observations %}
                    <p class="text-warning fs-6 mt-3">
                        <i class="bi bi-exclamation-triangle me-1"></i> Observações: 
                        <em>{{ payment.observations }}</em>
                    </p>
                {% endif %}
                <p class="text-dark fs-6 mt-3">
                    <i class="bi bi-pencil me-1"></i> Assinatura: <strong>{{ payment.user_signature }}</strong>
                </p>
                <form method="post" class="mt-3">
                    {% csrf_token %}
                    <input type="hidden" name="payment_id" value="{{ payment.pk }}">
                    <button type="submit" name="delete_payment" class="btn btn-danger btn-sm px-3 py-2 shadow-sm">
                        <i class="bi bi-trash-fill me-1"></i> Excluir
                    </button>
                </form>
            </div>
        {% endfor %}
    </div>
</div>


{% endblock %}

